.App {
  text-align: center;
  background-color: #E02B2B;
}

form{
  display: flex;
  flex-direction: column;
}

.header{
  background-color: #057405;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 20px;
  border-bottom: 1px solid #
}

img{
  margin-top: 20px;
  border-radius: 10px;
  border: 3px solid yellow;
}

footer{
  background-color: #057405;
  padding-top: 20px;
  padding-bottom: 20px;
}
.loved-text{
  font-size: 15px;
}
.ecard-text{
  padding-top: 0px;
}
.App-link{
  margin-bottom: 15px;
}








/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
